body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    scrollbar-width: thin;
}

.cart-header-container {
    display: flex;
    justify-content: center;
    background: #f1f4f6;
    margin-bottom: 40px;
    padding: 32px 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7.5px;
    padding-right: 7.5px;
    gap: 16px;
    width: 100%;
    max-width: 1285px;
}

.header-steps {
    display: flex;
    justify-content: space-between;
}

.step {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 109px;
}

.step-number {
    align-items: center;
    background-color: #d8e0e5;
    color: #829bab;
    display: flex;
    font-size: 8px;
    font-weight: 500;
    height: 24px;
    justify-content: center;
    line-height: 12px;
    margin-bottom: 8px;
    width: 24px;
    border-radius: 50%;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
}

.current {
    background-color: #f85a00 !important;
    color: white !important;
}

.step-text {
    text-align: center;
    font-size: 13px;
    color: #132540;
}

.header-security {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #829bab;
}

.header-security img {
    width: 16px;
    height: 16px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 600px;
}

.name-surname-container,
.way-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.input-container {
    position: relative;
    flex-grow: 1;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #c4d0d8;
    border-radius: 2px;
    color: #132530;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    padding: 0 8px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.name-surname-container label,
.way-container label,
.cf-container label {
    display: block;
    margin-bottom: 5px;
}

.additional-address {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0068d7;
    gap: 2px;
    font-size: 12px;
    width: 100%;
    margin-top: 8px;
}

.additional-address-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0068d7;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    width: 16px;
}

.country-info {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.input-container.numero-civico {
    flex-basis: 25%;
    flex-grow: 0;
}

.input-container.via {
    flex-basis: 75%;
    flex-grow: 1;
}

.cf-container {
    width: 100%;
}

.business-address,
.shipping-billing-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.allow-contact {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.phone-container {
    width: 100%;
}

.phone-inputs {
    display: flex;
    gap: 8px;
}

.phone-inputs select {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
}

.phone-inputs input {
    flex-basis: 70%;
    flex-grow: 1;
}

form button {
    background: #d32e1d;
    color: white;
    border: none;
    font-size: 1.154em;
    min-height: 56px;
    min-width: 56px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 306px;
}

footer {
    border-top: 1px solid #e5eaed;
    margin: 32px 0;
    padding-top: 32px;
}

footer a {
    color: #0068d7;
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
}

.show-flex {
    display: flex;
}

.show-none {
    display: none;
}

@media(max-width: 990px) {
    .header-security {
        display: none;
    }

    .cart-header {
        flex-direction: column;
    }

    .step-text {
        display: none;
    }
}

@media(max-width: 575px) {
    .step {
        max-width: 75px;
        width: 20%;
        padding: 8px;
    }
}