body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    scrollbar-width: thin;
}

.cart-header-container {
    display: flex;
    justify-content: center;
    background: #f1f4f6;
    margin-bottom: 40px;
    padding: 32px 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7.5px;
    padding-right: 7.5px;
    gap: 16px;
    width: 100%;
    max-width: 1285px;
}

.header-steps {
    display: flex;
    justify-content: space-between;
}

.step {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 109px;
}

.step-number {
    align-items: center;
    background-color: #d8e0e5;
    color: #829bab;
    display: flex;
    font-size: 8px;
    font-weight: 500;
    height: 24px;
    justify-content: center;
    line-height: 12px;
    margin-bottom: 8px;
    width: 24px;
    border-radius: 50%;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
}

.current {
    background-color: #f85a00 !important;
    color: white !important;
}

.step-text {
    text-align: center;
    font-size: 13px;
    color: #132540;
}

.header-security {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #829bab;
}

.header-security img {
    width: 16px;
    height: 16px;
}

.credit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #c4d0d8;
    border-radius: 5px;
}


input {
    width: 300px;
    border: 1px solid #c4d0d8;
    border-radius: 2px;
    color: #132530;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    padding: 0 8px;
}

.input-container {
    margin: 16px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.credit-card button {
    background: #0068d7;
    color: white;
    border: none;
    font-size: 1.154em;
    min-height: 56px;
    min-width: 56px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 306px;
}

.error-label {
    margin: 8px;
    color: red;
}

footer {
    border-top: 1px solid #e5eaed;
    margin: 32px 0;
    padding-top: 32px;
}

footer a {
    color: #0068d7;
    text-decoration: none;
    font-size: 13px;
    margin-left: 5px;
}

.show-flex {
    display: flex;
}

.show-none {
    display: none;
}

@media(max-width: 990px) {
    .header-security {
        display: none;
    }

    .cart-header {
        flex-direction: column;
    }

    .step-text {
        display: none;
    }
}

@media(max-width: 575px) {
    .step {
        max-width: 75px;
        width: 20%;
        padding: 8px;
    }
}